# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.FlappyBirdCPP.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\PROYECTOS UNREAL ENGINE\FlappyBirdCPP\.idea\.idea.FlappyBirdCPP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
